# Copy this file to key.properties and update values.
# Example:
# storeFile=upload-keystore.jks
# storePassword=change_me
# keyAlias=upload
# keyPassword=change_me

storeFile=upload-keystore.jks
storePassword=change_me
keyAlias=upload
keyPassword=change_me
